task:
  name: libvirt-guest-service-test
  container:
    image: potyarkin/molecule:host-kvm
    kvm: true
    cpu: 4
    memory: 6G
  env:
    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"
    CACHE_KEY: "{{ GITHUB_REF }} - cache v1"
    PIP_CACHE_DIR: $HOME/cache/pip
    VENVDIR: $HOME/venv

  # CI environment does not provide systemd, we have to start the daemons manually
  dbus_background_script:
    - mkdir -p /var/run/dbus
    - /usr/bin/dbus-daemon --system --nofork --nopidfile
  virtlogd_background_script:
    - /usr/sbin/virtlogd
  libvirtd_background_script:
    - sleep 2 && /usr/sbin/libvirtd

  # Actual work is done here
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  pip_cache:
    folder: $HOME/cache
    fingerprint_script:
      - echo "$CACHE_KEY"
  test_script:
    - make -C test quicktest
