task:
  name: libvirt-guest-service-test
  container:
    container: potyarkin/molecule:host-kvm
    kvm: true
  env:
    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"

  # CI environment does not provide systemd, we have to start the daemons manually
  dbus_background_script:
    - mkdir -p /var/run/dbus
    - /usr/bin/dbus-daemon --system --nofork --nopidfile
  virtlogd_background_script:
    - /usr/sbin/virtlogd
  libvirtd_background_script:
    - sleep 2 && /usr/sbin/libvirtd

  # Actual work is done here
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  test_script:
    - make -C test quicktest
